<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^config" />
                    <action type="Rewrite" url="config/phpinfo.php" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^ไม่พบข้อมูล.html" />
                    <action type="Rewrite" url="app/error/404.html" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^เช็ค_(.*)_(.*)_(.*)_(.*).html" />
                    <action type="Rewrite" url="api/tenko/check.php?tenko={R:1}&amp;emp={R:2}&amp;regis={R:3}&amp;area={R:4}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^เข้าสู่ระบบ.html" />
                    <action type="Rewrite" url="app/authentication/login.php" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^ออกจากระบบ.html" />
                    <action type="Rewrite" url="app/authentication/logout.php" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^ยินดีต้อนรับ.html" />
                    <action type="Rewrite" url="app/welcome/welcome.php" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^หน้าหลัก.html" />
                    <action type="Rewrite" url="app/landingpage/index.php" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^ภาพรวม.html" />
                    <action type="Rewrite" url="app/dashboard/dashboard.php" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^ข้อมูลเว็บ.html" />
                    <action type="Rewrite" url="app/setting_manage/setting.php" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^แก้ไขข้อมูลเว็บ-(.*).html" />
                    <action type="Rewrite" url="app/setting_manage/setting.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^จัดการสมาชิก.html" />
                    <action type="Rewrite" url="app/user_manage/usermain.php" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^เพิ่มสิทธิ์สมาชิก.html" />
                    <action type="Rewrite" url="app/user_manage/usermainform.php" />
                </rule>
                <rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^ข้อมูลสมาชิกรหัส-(.*).html" />
                    <action type="Rewrite" url="app/user_manage/usermainform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15" stopProcessing="true">
                    <match url="^ร้องขอสิทธิ์.html" />
                    <action type="Rewrite" url="app/request_role/requestmain.php" />
                </rule>
                <rule name="Imported Rule 16" stopProcessing="true">
                    <match url="^ร้องขอสิทธิ์รหัส-(.*)-(.*).html" />
                    <action type="Rewrite" url="app/user_manage/usermainform.php?id={R:1}&amp;rqrid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 17" stopProcessing="true">
                    <match url="^จัดการเมนู.html" />
                    <action type="Rewrite" url="app/menu_manage/menumain.php" />
                </rule>
                <rule name="Imported Rule 18" stopProcessing="true">
                    <match url="^แก้ไขเมนูหลัก-(.*).html" />
                    <action type="Rewrite" url="app/menu_manage/menumainedit.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 19" stopProcessing="true">
                    <match url="^จัดการเมนูย่อย-(.*).html" />
                    <action type="Rewrite" url="app/menu_manage/menusub.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 20" stopProcessing="true">
                    <match url="^แก้ไขเมนูย่อย-(.*)-(.*).html" />
                    <action type="Rewrite" url="app/menu_manage/menusubedit.php?id={R:1}&amp;mid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 21" stopProcessing="true">
                    <match url="^จัดการสิทธิ์.html" />
                    <action type="Rewrite" url="app/role_manage/rolemain.php" />
                </rule>
                <rule name="Imported Rule 22" stopProcessing="true">
                    <match url="^แก้ไขข้อมูลสิทธิ์-(.*).html" />
                    <action type="Rewrite" url="app/role_manage/rolemainform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 23" stopProcessing="true">
                    <match url="^สิทธิ์ใช้งานเมนู-(.*).html" />
                    <action type="Rewrite" url="app/role_manage/rolesub.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 24" stopProcessing="true">
                    <match url="^เพิ่มสิทธิ์ใช้งานเมนู-(.*).html" />
                    <action type="Rewrite" url="app/role_manage/rolesubform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 25" stopProcessing="true">
                    <match url="^แก้ไขสิทธิ์ใช้งานเมนู-(.*)-(.*).html" />
                    <action type="Rewrite" url="app/role_manage/rolesubform.php?id={R:1}&amp;rmid={R:2}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 26" stopProcessing="true">
                    <match url="^จัดการลูกหนี้.html" />
                    <action type="Rewrite" url="app/debtor_manage/debtor.php" />
                </rule>
                <rule name="Imported Rule 27" stopProcessing="true">
                    <match url="^แก้ไขลูกหนี้-(.*).html" />
                    <action type="Rewrite" url="app/debtor_manage/debtorform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 28" stopProcessing="true">
                    <match url="^สมุดคุมเลขที่วางบิล.html" />
                    <action type="Rewrite" url="app/billing_manage/billing.php" />
                </rule>
                <rule name="Imported Rule 29" stopProcessing="true">
                    <match url="^แก้ไขใบวางบิล-(.*).html" />
                    <action type="Rewrite" url="app/billing_manage/billingform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 30" stopProcessing="true">
                    <match url="^จัดการการแจ้งเตือน.html" />
                    <action type="Rewrite" url="app/notification_manage/notimain.php" />
                </rule>
                <rule name="Imported Rule 31" stopProcessing="true">
                    <match url="^แก้ไขการแจ้งเตือน-(.*).html" />
                    <action type="Rewrite" url="app/notification_manage/notimainform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 32" stopProcessing="true">
                    <match url="^แก้ไขการข้อความแจ้งเตือน-(.*).html" />
                    <action type="Rewrite" url="app/notification_manage/notimainformtext.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 33" stopProcessing="true">
                    <match url="^ตั้งค่าการส่งเมล.html" />
                    <action type="Rewrite" url="app/mail_manage/mailmain.php" />
                </rule>
                <rule name="Imported Rule 34" stopProcessing="true">
                    <match url="^แก้ไขการส่งเมล-(.*).html" />
                    <action type="Rewrite" url="app/mail_manage/mailmainform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 35" stopProcessing="true">
                    <match url="^แก้ไขการรายชื่อส่งเมล-(.*).html" />
                    <action type="Rewrite" url="app/mail_manage/mailmainformtext.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 36" stopProcessing="true">
                    <match url="^รายงานสมุดคุมเลขที่วางบิลประจำเดือน.html" />
                    <action type="Rewrite" url="app/report_manage/report_mbc.php" />
                </rule>
                <rule name="Imported Rule 37" stopProcessing="true">
                    <match url="^รายงานสมุดคุมเลขที่วางบิลของ_(.*)_เดือน_(.*)_ปี_(.*).xlsx" />
                    <action type="Rewrite" url="app/report_manage/report_mbc_ex.php?a1={R:1}&amp;a2={R:2}&amp;a3={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 38" stopProcessing="true">
                    <match url="^รายงานสมุดคุมเลขที่วางบิลของ_(.*)_เดือน_(.*)_ปี_(.*).pdf" />
                    <action type="Rewrite" url="app/report_manage/report_mbc_pdf.php?a1={R:1}&amp;a2={R:2}&amp;a3={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 39" stopProcessing="true">
                    <match url="^รายงานการแจ้งเตือน.html" />
                    <action type="Rewrite" url="app/report_manage/report_ntf.php" />
                </rule>
                <rule name="Imported Rule 40" stopProcessing="true">
                    <match url="^รายงานการแจ้งเตือน_(.*)_เดือน_(.*)_ปี_(.*).xlsx" />
                    <action type="Rewrite" url="app/report_manage/report_ntf_ex.php?a1={R:1}&amp;a2={R:2}&amp;a3={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 41" stopProcessing="true">
                    <match url="^รายงานการแจ้งเตือน_(.*)_เดือน_(.*)_ปี_(.*).pdf" />
                    <action type="Rewrite" url="app/report_manage/report_ntf_pdf.php?a1={R:1}&amp;a2={R:2}&amp;a3={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 42" stopProcessing="true">
                    <match url="^รายงานสรุปแยกลูกค้า.html" />
                    <action type="Rewrite" url="app/report_manage/report_ctm.php" />
                </rule>
                <rule name="Imported Rule 43" stopProcessing="true">
                    <match url="^รายงานสรุปแยกลูกค้า_(.*)_เดือน_(.*)_ปี_(.*).xlsx" />
                    <action type="Rewrite" url="app/report_manage/report_ctm_ex.php?a1={R:1}&amp;a2={R:2}&amp;a3={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 44" stopProcessing="true">
                    <match url="^รายงานสรุปแยกลูกค้า_(.*)_เดือน_(.*)_ปี_(.*).pdf" />
                    <action type="Rewrite" url="app/report_manage/report_ctm_pdf.php?a1={R:1}&amp;a2={R:2}&amp;a3={R:3}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 45" stopProcessing="true">
                    <match url="^นำเข้าข้อมูล.html" />
                    <action type="Rewrite" url="app/import_manage/import.php" />
                </rule>
                <rule name="Imported Rule 46" stopProcessing="true">
                    <match url="^ตรวจสอบข้อมูลนำเข้า-(.*).html" />
                    <action type="Rewrite" url="app/import_manage/importform.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 47" stopProcessing="true">
                    <match url="^DailyDataSummaryOf_(.*)_(.*).pdf" />
                    <action type="Rewrite" url="app/report_manage/report_mbcall_pdf.php?a1={R:1}&amp;a2=a2&amp;a3=a3&amp;a4=mail" appendQueryString="false" />
                </rule>
            </rules>
        
        </rewrite>
    </system.webServer>
</configuration>
